@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url(reset.css);

:root {
  --background-neutral-primary: #ebfff2;

  --text-neutral-primary: #111412;
  --text-neutral-tertiary: #323b35;
}

/* pengaturan halaman statis */
html {
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  font-family: "Poppins";
  background-color: var(--background-neutral-primary);
  color: var(--text-neutral-primary);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Space Grotesk", serif;
}

:is(p) {
  color: var(--text-neutral-tertiary);
}
